
<h2><%= @post.title %></h2>
</br>
<%= @post.body %>
</br>
<%= link_to "Add a Comment", new_comment_path(post_id: "#{@post.id}"), id: "new_comment_link", remote: true %>


<p>Comments: </p>

<div id="comment_show">
  <% @post.comments.each do |comment| %>
    <div id="comment_id_<%="#{comment.id}" %>"
      <li>
        Comment: <%= comment.body %>
      </br>
        By:  <%= comment.user.email %>
      </li>
      <% if comment.user==current_user %>
      </br>
        <%= link_to "Edit Comment", edit_comment_path(comment), remote: true %>
      </br>
        <%= link_to "Delete Comment", comment_path(comment.id), class: "btn btn-xs btn-danger",
        data: {confirm: "Are you sure you want to delete your post?",
          method: "delete"} %>
      <% end %>
    </div>
  <% end %>
</div>
